{% load static %}

{% block page_title %}
<title>Chat Info</title>
{% endblock page_title %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/style.css' %}">
{% endblock custom_styles %}
    
{% block header %}
{% endblock header%}

{% block main %}
    <main>
        <div class="center_children fill_parent_horiz fill_screen_vert">
            <div id="form">
				<div id="form-text-bold">
					<strong>Please enter your information</strong>
                </div>
				<div id="form-text-help">
					If rejoining, use the same email
				</div>
				<form method="POST" action="/user/chat?uuid={{uuid}}">
                    {% csrf_token %}
					{{ info_form.non_field_errors }}

					  {% for hidden_field in info_form.hidden_fields %}
						{{ hidden_field.errors }}
						{{ hidden_field }}
					  {% endfor %}
                    
					<div id="form-input">
						{{ info_form.name }}
						{{ info_form.email }}
					</div>
					
					<div id="form-topic">
						<p id="form-topic-text"> Please select your help topic </p>
						
						{{ info_form.request }}

						
					</div>
					<div id="form-submit">
						<label>By clicking Submit, you agree to our <a href="{% static forge/text/privacy.txt %}">Data Policy</a>.</label>
						<button type="submit" id="submit_button">Submit</button>
					</div>
				</form>
            </div>
        </div>
    </main>
{% endblock main %}
