{% load static %}

<!--TODO: Add an error block that checks for an error in session storage, and displays it if it exists. -->

<html>
	{% block head %}
	<head>
		
		{% block custom_styles %}
			<link rel="stylesheet" type="text/css" href="{% static 'forge/css/chat.css' %}">
		{% endblock custom_styles %}


		{% block meta %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		{% endblock meta %}

		{% block page_title %}
		<title>Chat Room</title>
		{% endblock page_title %}
	</head>
	{% endblock head %}
	
	{% block body %}
	<body>
		{% block header %}
		{% endblock header %}

		{% block pre_main %}
		{% endblock pre_main%}

		{% block main %}
		<main>
		<div id="chatroom">
			<div id="chatbox" class="chat">
			</div>
			
			<div class="inputbox">
			<input id="chat-message-input" type="text" class="input"><br>
			</div>
			
			<div class="inputsubmit">
			<input id="chat-message-submit" type="button" value="Send" class="input">
			</div>
			
			<form method="POST" action="/upload?uuid={{room_name}}" id="fileform">
				{% csrf_token %}
				{{file_form}}
			</form>
		</div>	
		</main>
		{% endblock main %}
		
		{% block post_main %}
		<div id="error">
			<p>An error occurred please  try again</p>
		</div>
		{% endblock post_main %}

		{% block footer %}

		{% endblock footer %}
	</body>
	{% endblock body %}

	{# Load scripts and fonts at the end of the page to improve load time. #}

	{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
	<script>
		
		
		/*variable decleration*/
		closing = false;
        const roomName = JSON.parse("{{room_name|escapejs }}");
		const name = "{{name|escapejs }}";
		const chat = "{{chat|escapejs }}";
        
		
		
		
		/*chat socket decleration*/
		const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
		
		
		
		/*chat socket functions*/
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
			console.log(data);

			if(data.hasOwnProperty('volunteer_info') && data.volunteer_info){
				var chatroom = document.getElementById("chatroom");
				var waiting = document.getElementById("waiting");
				
				if(chatroom!==null){
					chatroom.style.display = "block"; 
				}
				
				if(waiting!==null){
					waiting.style.display = "none"; 
				}
				
				addMessage(data.volunteer_info+' has entered the chat!\n');
			} else if(data.hasOwnProperty('message')) {
				addMessage(data.name+":"+data.message + '\n');
			}
        };

        chatSocket.onclose = function(e) {
			if(!closing){
				document.getElementById("error").style.display = "block"; 
				console.error('Chat socket closed unexpectedly');
			}
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
				'name': name
            }));
            messageInputDom.value = '';
        };
		
		/*file upload code*/
		document.getElementById("id_file").onchange = function() {
			
			var fd = new FormData();
			var files = $('#id_file')[0].files[0];
			fd.append('file',files);

			$.ajax({
				url: '/upload?roomName='+roomName,
				type: 'post',
				data: fd,
				contentType: false,
				processData: false,
				success: function(response){
					if(response != 0){
						console.log(response);
					}else{
						console.log("file not uploaded");
					}
				},
			});
			
			
			
			/*
			console.log("create post is working!") // sanity check
			$.ajax({
				url: '/upload?roomName='+roomName, // the endpoint
				type : "POST", // http method
				data : { the_post : $('#fileform').val() }, // data sent with the post request

				// handle a successful response
				success : function(json) {
					$('#fileform').val(''); // remove the value from the input
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
				},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				}
			});*/
		};
		
		
		/*general purpose function*/
		function addMessage(input) {
			var new_input = "<div class=message>"+input+"</div>";
			document.getElementById("chatbox").innerHTML += new_input;
		}
		
		
		/*start code*/
		document.getElementById("error").style.display = "none"; 
		var chat_array = chat.split("\n");
		for (var i = 0; i < chat_array.length; i++) {
			addMessage(chat_array[i]);
			//Do something
		}
		
		
		
	</script>
	{% endblock scripts %}

	{% block fonts %}
	{% endblock fonts %}
	

</html>
