{% load static %}

<!--TODO: Add an error block that checks for an error in session storage, and displays it if it exists. -->

<html>
	{% block head %}
	<head>
		
		{% block custom_styles %}
			<link rel="stylesheet" type="text/css" href="{% static 'forge/css/chat.css' %}">
		{% endblock custom_styles %}


		{% block meta %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		{% endblock meta %}

		{% block page_title %}
		<title>Chat Room</title>
		{% endblock page_title %}
	</head>
	{% endblock head %}
	
	{% block body %}
	<body>
		{% block header %}
		{% endblock header %}

		{% block pre_main %}
		{% endblock pre_main%}

		{% block main %}
		<main>
		<div id="chatroom">
			<div id="chatbox" class="chat">
			</div>
			
			<div class="input_container" id="input_container">
				<input id="chat-message-input" type="text" class="input"><br>
				
				<input id="chat-message-submit" type="button" value="Send" class="input">
				
				{% block form %}
				<form method="POST" id="fileform">
					{% csrf_token %}
					{{file_form}}
				</form>
				{% endblock form %}
			</div>
		</div>	
		</main>
		{% endblock main %}
		
		{% block post_main %}
		<div id="error">
			<p>An error occurred please  try again</p>
		</div>
		{% endblock post_main %}

		{% block footer %}

		{% endblock footer %}
	</body>
	{% endblock body %}

	{# Load scripts and fonts at the end of the page to improve load time. #}

	{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
	<script>
		
		
		/*variable decleration*/
		closing = false;
        const roomName = JSON.parse("{{room_name|escapejs }}");
		const name = "{{name|escapejs }}";
		const user_id = "{{uuid|escapejs }}";
        
		
		
		
		/*chat socket decleration*/
		const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
		
		
		
		
		
		/*chat socket functions*/
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
			console.log(data);

			if(data.hasOwnProperty('volunteer') && data.volunteer){
				var chatroom = document.getElementById("chatroom");
				var waiting = document.getElementById("waiting");
				
				if(chatroom!==null){
					chatroom.style.display = "block"; 
				}
				
				if(waiting!==null){
					waiting.style.display = "none"; 
				}
				addMessage(data.name, data.message);
			} else if(data.hasOwnProperty('volunteer_finish')) {
				var input = document.getElementById("chat-message-input");
				var submit = document.getElementById("chat-message-submit");
				var file = document.getElementById("fileform");
				
				if(input!==null){
					input.disabled = true; 
				}
				
				if(submit!==null){
					submit.display = true; 
				}
				
				if(file!==null){
					file.display = true; 
				}
				closing = true;
				addMessage(data.name, data.message);
			
			} else if(data.hasOwnProperty('message')) {
				addMessage(data.name, data.message);
			}
        };

        chatSocket.onclose = function(e) {
			if(!closing){
				document.getElementById("error").style.display = "block"; 
				console.error('Chat socket closed unexpectedly');
			}
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            if(!closing){
				const messageInputDom = document.querySelector('#chat-message-input');
				const message = messageInputDom.value;
				sendMessage({
					'message': message,
					'name': name
				});
				messageInputDom.value = '';
			}
        };
		
		/*file upload code*/
		document.getElementById("id_file").onchange = function() {
			if(closing){
				return;
			}
			var fd = new FormData();
			var files = $('#id_file')[0].files[0];
			fd.append('file',files);

			$.ajax({
				url: '/upload?room_id='+roomName+'&uuid='+user_id,
				type: 'post',
				data: fd,
				contentType: false,
				processData: false,
				success: function(response){
					if(response != 0){
						var message = "Uploaded file. Click <a href='/download?room_id="+roomName+"&uuid="+user_id+"&id="+response+"' download target='_blank'>here</a>";
						sendMessage({
							'name': name,
							'message': message
						});
						

					}else{
						console.log("file not uploaded");
					}
				},
				error: function(response){
					sendMessage({
						'name': name,
						'message': response
					});
				}
			});
			
			document.getElementById("id_file").value = '';
		};
		
		
		/*general purpose function*/
		function sendMessage(dictionary) {
			chatSocket.send(JSON.stringify(dictionary));
		
		}
	</script>
	{% endblock scripts %}
	{% block display_scripts %}
	<script>
	var last_author='';
	const chat = "{{chat|escapejs }}";
	function addMessage(author, content) {
		if(last_author!=author){

			var new_input = "<div class=message><div class=msg_author>" + author + "</div><div class=msg_content>" + content + "</div></div>";
		} else {
			var new_input = "<div class=message><div class=msg_content>" + content + "</div></div>";
			
			
		}
		last_author=author;
		
		var chat = document.getElementById("chatbox")
		chat.innerHTML += new_input;

		chat.scrollTop = chat.scrollHeight;
	}
		
	document.getElementById("error").style.display = "none"; 
	var chat_array = chat.split("|||");
	for (var i = 0; i < chat_array.length-1; i++) {
		var author = chat_array[i].split(",")[0];
		var content = chat_array[i].split(",")[1];
		addMessage(author, content);
	}
	</script>
	{% endblock display_scripts %}
	{% block fonts %}
	{% endblock fonts %}
	

</html>
