{% extends "chat/generic_room.html" %}

{% block main %}
{{block.super}}
<div id="waiting">
	<p>Please wait while we figure shit out</p>
</div>
{% endblock main %}
	
	
{% block scripts %}
{{block.super}}
<script>
{% if helped is True %}
document.getElementById("waiting").style.display = "none"; 
document.getElementById("chatroom").style.display = "block"; 
document.getElementById("error").style.display = "none"; 
{% else %}

document.getElementById("waiting").style.display = "block"; 
document.getElementById("chatroom").style.display = "none"; 
document.getElementById("error").style.display = "none"; 
{% endif %}

chatSocket.onopen = function(e) {
	chatSocket.send(JSON.stringify({
		'message': name+" has joined the chat!",
		'name': name
	}));
};
</script>
{% endblock scripts %}
