{% extends "chat/generic_room.html" %}


{% block custom_styles %}
{{block.super}}
<style>
.chatroom {
	max-width: 20vw;
	max-height: 35vw;
}

.chat {
	height: 75%;
	;
}

#chat-message-input {
	width: 80%;
	margin-right: 2%;
	border: 3px solid #AF0909;
	border-radius: 5px;
}

#chat-message-submit {
	width: 10%;
	margin-right: 2%;
	border: 3px solid #AF0909;
	border-radius: 5px;
}

#chat-message-file-select {
	width: 10%;
	margin-right: 0%;
	border: 3px solid #AF0909;
	border-radius: 5px;
}

#chat-finish-submit {
	margin-top: 1%;
	width: 21%;
	height: 10%;
	margin-left: 79%;
	border: 3px solid #AF0909;
	border-radius: 5px;
}
</style>
{% endblock custom_styles %}



{% block volunteer_main %}
<input id="chat-finish-submit" type="button" value="End Chat" class="input">
{% endblock volunteer_main %}

	
{% block scripts %}
{{block.super}}
<script>
	chatSocket.onopen = function(e) {
			chatSocket.send(JSON.stringify({
                'volunteer_info': name
				
            }));
		};
		
		
	document.querySelector('#chat-finish-submit').onclick = function(e) {
		closing = true;

		chatSocket.send(JSON.stringify({
			'volunteer_finish': true
		}));
		chatSocket.close();

		window.location.replace("/volunteer/select?uuid={{uuid}}&name={{volunteer_name}}");
		
	};
	
</script>
{% endblock scripts %}

   

