{% extends "chat/generic_room.html" %}


{% block custom_styles %}
{{block.super}}
{% endblock custom_styles %}



{% block volunteer_main %}
<input id="chat-finish-submit" type="button" value="End Chat" class="input">
{% endblock volunteer_main %}

	
{% block scripts %}
{{block.super}}
<script>
	chatSocket.onopen = function(e) {
			chatSocket.send(JSON.stringify({
                'volunteer_info': name
				
            }));
		};
		
		
	document.querySelector('#chat-finish-submit').onclick = function(e) {
		closing = true;

		chatSocket.send(JSON.stringify({
			'volunteer_finish': true
		}));
		chatSocket.close();

		window.location.replace("/volunteer/select?uuid={{uuid}}&name={{volunteer_name}}");
		
	};
	
</script>
{% endblock scripts %}

   

