.chatroom {
	position:relative;
	width: 100%;
	height: 100%;
	
	
}

.chat {
	background-color: lightred;
	width: 100%;
	height: 90%;
	top: 0;
	left: 0;
	overflow-y: scroll;
}

.input_container {
	display: flex;
	width: 100%;
	justify-content: start;
	height: 10%;
}



.message {
	display: flex;
    	flex-direction: column;
    	align-items: start;
}

.msg_author {
	color: #AF0909;
}

.msg_content {
	padding: 5px;
    	border-radius: 7px;
    	border: 2px #AF0909 solid;
    	background-color: white;
    	margin: 0 0 auto;
}
